


.add_link_swal {
    color: white !important;
}

.wrap-authenticate {
    height: 100% !important;
    width: 100%;
    position: fixed;
    /* background: linear-gradient(33deg, var(--main-color-top), var(--main-color-bot)); */
    top: 30%;
    transform: translateY(-50%);
}

.login-form {
    color: var(--head-color);
    display: block;
    width: 500px;
    padding: 50px 30px;
    margin: 0 auto;
    background: var(--box-bg);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form img {
    margin-bottom: 30px;
}

.login-form h5 {
    margin: 0;
    text-align: center;
}

.login-form input {
    width: 100%;
    color: var(--text-color);
    border: none !important;
    outline: none !important;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    background: var(--input-bg);
}

.login-form input::placeholder {
    color: var(--text-color) !important;
    font-size: 15px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--main-color-top);
    box-shadow: 0px 0px 7px 5px var(--shadow-color);
    color: white;
}

.MathJax_Display,
mjx-container{
    text-align: left !important;
}

mjx-container[jax="CHTML"][display="true"] {
    display: content !important;
}
.nav-control {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--box-bg);
    height: 85;
    padding: 10px 0;
    z-index: 5;
}

.nav-control #menu-right span {
    color: black;
    margin-left: 10px;
    padding: 7px 0;
}

.active-nav-control {
    background: white !important;
    z-index: 5px !important;
}

.nav-control #__padding-nav {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
}

.nav-control #menu-left {
    max-width: 300px;
    flex: 1;
}

.nav-control #menu-right {
    max-width: 300px;
    margin-left: auto;
    flex: 1;
    text-align: right;
}

.nav-control #menu-right i {
    cursor: pointer;
    margin-left: 10px;
    font-size: 17px;
}

.nav-control #menu-left button {
    color: black;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
}

.form-add-post {
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 100px;
}


.box-article .cdx-block {
    /* color:var(--text-color) !important; */
    background-color: none !important;
}

.ce-toolbar__settings-btn,
.ce-toolbar__plus {
    color: var(--text-color) !important;
}

.ce-toolbar__settings-btn:hover,
.ce-toolbar__plus:hover {
    color: var(--text-color) !important;
}

.ce-block--selected .ce-block__content {
    background: var(--input-bg) !important;
}

.edit-bar {
    position: fixed;
    top: 0;
    left: 0;
    /* max-width: 60rem; */
    width: 60rem;
    margin: 0 calc(50% - 30rem);
    padding-top: 10px;
    display: flex;
}

.edit-bar #_bar_left,
.edit-bar #_bar_right {
    flex: 1;
}

.edit-bar #_bar_right button {
    color: black;
    float: right;
    background: none;
    border: none;
    outline: none;
    margin-left: 15px;
}

.edit-bar #_bar_right button i {
    margin-right: 5px;
}

.edit-bar #_bar_left button {
    background: none;
    border: none;
    outline: none;
    color: black;
}

.simple-image input {
    width: 100%;
    border: 1px solid var(--input-bg);
    border-radius: 5px;
    outline: none;
    /* border:none; */
    padding: 10px;
    /* background:var(--input-bg); */
    background: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

.simple-image img {
    max-width: calc(50rem - 50px) !important;
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
}

.ce-code__languagecode {
    width: 100% !important;
    border: 1px solid var(--input-bg) !important;
    border-radius: 5px !important;
    outline: none !important;
    padding: 10px !important;
    background: none !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.ce-code__textarea {
    background: var(--box-bg) !important;
    border: 1px solid var(--input-bg) !important;
    font-size: 15px !important;
}

.math-preview,
.math-input {
    border: 1px solid var(--input-bg) !important;
    outline: none !important;
}

.cdx-alert-primary {
    background: var(--input-bg) !important;
}

.jupyter-wrapper {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: var(--box-bg);
}

.jupyter-wrapper #block-code textarea {
    width: 100%;
    border: 1px solid var(--input-bg);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    background: none;
}

.math-wrapper #block-math #_output {
    padding: 20px;
    border: 1px solid var(--input-bg);
    overflow: hidden !important;
}

.math-wrapper #block-math #_input {
    width: 100%;
    border: 1px solid var(--input-bg);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    background: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* MathJax 2 */
.form-add-post mjx-container

/* MathJax 3 */
    {
    /* text-align: center !important;  */
    /* font-size:20px !important; */
}

.wrap-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 10;
    background: blue;
    overflow: hidden !important;
}

.read-mode {
    max-width: calc(50rem + 40px);
    margin: 0 auto;
    margin-top: 100px;
    background: white;
    padding: 20px 45px;
    border-radius: 5px;

}

.read-mode img {
    max-width: calc(50rem - 50px);
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
}

.list-post {
    width: 100%;

}

.list-post #item {
    width: 100%;
    display: flex;
    position: relative;
    padding: 20px;
    background: var(--input-bg);
    border-radius: 5px;
    margin-bottom: 20px;


}

.list-post #item #title {
    flex: 1;
    max-width: calc(100% - 400px);
    font-weight: bold;
    color: black;
}

.list-post #item #media {
    flex: 1;
    max-width: 400px;
    position: absolute;
    top: 15px;
    right: 20px;
}

.list-post #item #media button {
    background: var(--main-color-top);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
}

.list-post #item #media span {
    background: var(--input-bg);
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.form-view-post {
    max-width: calc(50rem);
    margin: 0 auto;
    margin-top: 100px;
    background: var(--box-bg);
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.form-view-post p {
    color: black;
    font-size: 17px;
}

.form-view-post #math {
    font-size: 13px !important;
    padding-left:20px;
}

.form-view-post img {
    max-width: 50rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.form-view-post #block {
    margin-bottom: 30px;
}

.form-view-post p {
    margin: 0;
}

.form-view-post #alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-view-post #img_caption,
.form-view-post #embed_caption {
    margin: 10px 0;
    text-align: center;
}

.ai-alert-primary {
    border: 1px solid #4299e1;
    color: #2b6cb0;
    background: var(--input-bg) !important;
}

.ai-alert-secondary {
    background-color: #f7fafc;
    border: 1px solid #cbd5e0;
    color: #222731;
}

.ai-alert-info {
    background-color: #e6fdff;
    border: 1px solid #4cd4ce;
    color: #00727c;
}

.ai-alert-success {
    background-color: #f0fff4;
    border: 1px solid #68d391;
    color: #2f855a;
}

.ai-alert-warning {
    background-color: #fffaf0;
    border: 1px solid #ed8936;
    color: #c05621;
}

.ai-alert-danger {
    background-color: #fff5f5;
    border: 1px solid #fc8181;
    color: #c53030;
}

.ai-alert-light {
    background-color: #fff;
    border: 1px solid #edf2f7;
    color: #1a202c;
}

.ai-alert-dark {
    background-color: #2d3748;
    border: 1px solid #1a202c;
    color: #d3d3d3;
}

.form-view-post pre {
    position: relative;
    border-radius: 5px;
}

.form-view-post #_tag_code {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
}

.form-view-post #wrap-lines-code {
    font-family: CascadiaCode !important;
    letter-spacing: 0 !important;
}
.form-view-post #wrap-lines-code #wrap_input {
    overflow-x: auto;
    background: var(--box-bg);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    margin-bottom:20px;
}
.form-view-post #wrap-lines-code #wrap_input #head_code {
    background:var(--input-bg);
    padding:5px 10px;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.form-view-post #wrap-lines-code #wrap_input #head_code p {
    margin:0;
    font-size:15px !important;
}
.form-view-post #wrap-lines-code #wrap_input #head_code  i {
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
    font-size:13px !important;
}
.form-view-post #wrap-lines-code #wrap_input #_wrap_code {
    display: flex;
    padding-top:10px;
}
.form-view-post #wrap-lines-code #wrap_input #id_code {
    flex: 1;
    max-width: 50px;
    border-right: 1px solid var(--input-bg);
}

.form-view-post #wrap-lines-code #wrap_input #base_code {
    flex: 1;
}
.form-view-post #wrap-lines-code #wrap_input p {
    font-size:13px !important;
}
.form-view-post #wrap-lines-code #wrap_input #id_code p {
    padding: 2px 10px;
    text-align: right;
    color: var(--text-color);
}

.form-view-post #wrap-lines-code #wrap_input #base_code p {
    padding: 2px 10px;
}
.none {
    opacity: 0;
    transition: 1s all;
}